button {
	color: #fff;
    width: 150px;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	
}

.input {
	width: 200px;
	height: 50px;
}


.delete{
	width: 2px;
	height: 2px;
	text-align: center;
	align-items: center;
	background-color: rgb(158, 28, 28);
	font-style: normal;
	font-size: 10px;
	color: seashell;
	border-radius: 0.5px;
	margin-left: 20px;
	

}

.span{
	font-size: 50px;
	color: #60a3bc;
}